In [11]:
import zipfile
import pandas as pd
import movie_utils
%load_ext autoreload
%autoreload 2

In [2]:
# data from: https://grouplens.org/datasets/movielens/

files = {}

with zipfile.ZipFile("ml-32m.zip", 'r') as zip:
    zip_contents = zip.namelist()
    for file_name in zip_contents:
        if file_name.endswith('.csv'):
            print("Downloading " + file_name + "...")
            with zip.open(file_name) as file:
                df = pd.read_csv(file)
                files[file_name[7:-4]] = df

Downloading ml-32m/tags.csv...
Downloading ml-32m/links.csv...
Downloading ml-32m/ratings.csv...
Downloading ml-32m/movies.csv...

In [3]:
files["tags"] = files["tags"][["userId", "movieId", "tag"]]
files["tags"].head()

   userId  movieId          tag
0      22    26479  Kevin Kline
1      22    79592     misogyny
2      22   247150   acrophobia
3      34     2174        music
4      34     2174        weird

In [4]:
files["links"].head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [5]:
files["ratings"] = files["ratings"][["userId", "movieId", "rating"]]
files["ratings"].head()

   userId  movieId  rating
0       1       17     4.0
1       1       25     1.0
2       1       29     2.0
3       1       30     5.0
4       1       32     5.0

In [6]:
files["movies"].head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [20]:
movies = {}

for movie in files["movies"].iterrows():
    movie = movie[1]
    movies[movie.movieId] = movie_utils.Movie(movie.movieId, movie.title, movie.genres)

In [64]:
user = files["ratings"][files["ratings"]["userId"] == 1000][:5]
for movie in user.iterrows():
    if movie[1].movieId in movies.keys():
        print("-----------------------------------------------------------------------------------------------")
        print(movies[movie[1].movieId])
        print("Rating: " + str(movie[1].rating))

-----------------------------------------------------------------------------------------------
Toy Story 	1995
Adventure | Animation | Children | Comedy | Fantasy
Rating: 3.0
-----------------------------------------------------------------------------------------------
Father of the Bride Part II 	1995
Comedy
Rating: 4.0
-----------------------------------------------------------------------------------------------
Heat 	1995
Action | Crime | Thriller
Rating: 4.0
-----------------------------------------------------------------------------------------------
Leaving Las Vegas 	1995
Drama | Romance
Rating: 3.0
-----------------------------------------------------------------------------------------------
Twelve Monkeys (a.k.a. 12 Monkeys) 	1995
Mystery | Sci-Fi | Thriller
Rating: 3.0

In [40]:
# Data Frame is too big!!!
# ratings_df = files["ratings"].pivot_table(index="userId", columns="movieId", values="rating")